.container {
  margin: 1rem;
  padding-bottom: 30px;

  h1 {
    padding-left: 2rem;
    text-align: left;
  }

  .tree-container {
    max-width: 1200px;
    border: 1px solid #a9a1a1;
    padding: 15px;
    border-radius: 5px;
  }

  .button-open-all {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #4361ee;
    color: white;
    border: none;
    justify-self: baseline;

    &:hover:not(:disabled) {
      background-color: #3a56d4;
      transform: translateY(-1px);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    }
  }
}